{% extends 'myapp/base.html' %}

{% block section %}
    <div class="layui-anim layui-anim-downbit">
        <div>
            <span style="font-family: bold;line-height: 100px;font-size: 183px">Welcome!</span><br>
            <span style="margin-left: 50px;font-family: bold;line-height: 50px;font-size: 90px">Logistics  </span><br>
            <span style="margin-left: 50px;font-family: bold;line-height: 50px;font-size: 90px"> And </span><br>
            <span style="margin-left: 50px;font-family: bold;line-height: 50px;font-size: 90px">  Science</span>
        </div>
        <div style="text-align: right">
            <span style="line-height: 80px;font-size: 143px">欢迎您!</span><br>
            <div style="margin-right: 50px;padding-top: 20px">
                <span style="line-height: 40px;font-size: 70px">物流</span>
            </div>
            <div style="margin-right: 50px;padding-top: 10px">
                <span style="line-height: 40px;font-size: 70px">与</span>
            </div>
            <div style="margin-right: 50px;padding-top: 10px">
                <span style="line-height: 40px;font-size: 70px">科学</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block layui-this-index %}
    layui-this
{% endblock %}

