{% extends 'myapp/base_managerbackstage.html' %}

{% block section %}

    <div style="margin-left: 100px">
        <span style="font-family: bold;line-height: 100px;font-size: 183px"><b>ADMIN</b></span><br>
    </div>
    <div style="display: inline-block;padding: 20px;margin: 20px">
        <div class="layui-card manager_card layui-anim layui-anim-up" style="margin-left: 50px">
            <div class="layui-card-header"><b><span style="font-size: 15px">tips</span></b></div>
            <div class="layui-card-body">
                <span style="font-size: 15px">欢迎您，管理员</span>
                <br>
                <span style="font-size: 15px">在这里，您可以查看并管理物流</span>
                <br>
                <span style="font-size: 15px">或者，对后台数据进行合理修改</span>
                <br>
                <i class="layui-icon layui-icon-face-smile layui-anim layui-anim-rotate layui-anim-loop"
                   style="font-size: 20px; color: #1E9FFF;"></i>
                <br>
                <span style="font-size: 15px">祝福您拥有美好的一天！</span>
            </div>
        </div>
    </div>
    <div style="margin-left: 100px">
        <span style="font-family: bold;line-height: 100px;font-size: 183px;">Welcome</span><br>
    </div>


{% endblock %}

{% block layui-this管理员首页 %}
    layui-this
{% endblock %}