{% extends 'myapp/base.html' %}

{% block section %}

    <div class="layui-container layui-row layui-anim layui-anim-downbit">
        <div class="layui-col-md12 site-content">
            <div class="layui-card">
                <div class="layui-card-body" style="padding-bottom: 50px">
                    <h3 style="text-align: center; margin: 30px;"><strong>欢迎登录</strong></h3>
                    <form class="layui-form" action="{% url 'login_control' %}" method="post">
                        {% csrf_token %}
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="username" required lay-verify="required" placeholder="请输入账号"
                                       autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" required lay-verify="required"
                                       placeholder="请输入密码"
                                       autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">职业</label>
                            <div class="layui-input-block">
                                <input type="radio" name="career" value="staff" title="staff" checked>
                                <input type="radio" name="career" value="manager" title="manager">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-primary layui-border-green" lay-submit lay-filter="formDemo">登陆</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>

                    <button style="display:block;margin:auto" type="button"
                            class="layui-btn layui-btn-primary layui-border-blue"
                            onclick="javascript:window.location.href='{% url 'sign' %}'">去注册
                    </button>

                    <p style="text-align: center; color: rosybrown"><strong>{{ alert }}</strong></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block layui-this-login %}
    layui-this
{% endblock %}
