{% extends 'myapp/base.html' %}

{% block section %}
    <div class="layui-anim layui-anim-downbit">
        <div style="margin-left: 100px;padding-top: 50px">
            <span style="line-height: 40px;font-size: 70px">冷链追踪技术</span>
        </div>
        <div style="margin-left: 50px">
            <span style="margin-left: 100px;font-family: bold;line-height: 40px;font-size: 80px">Cold chain tracking</span><br>
        </div>
    </div>

    <div style="width: 400px;margin-left: 1000px" class="layui-anim layui-anim-downbit">
        <p style="font-size: 20px">随时查询运输车辆的位置，加强了车辆的监控，减少车辆损耗和运输时间，
            降低运输成本从而取得明显经济效益。GPS技术在冷链物流中的应用大大提高了运输的质量和有效的保证运输时间，从而确保了冷链产品的质量和及时到达。<br>
        由于冷链产品必须低温存储和运输，如果在运输中一旦发生车辆抛锚、冷冻系统瘫痪等事故，都会大大影响冷链产品的质量，因此将GPS定位技术应用到冷链物流中，
            通过网络实现资源共享，对货物运输过程中的车辆的运行路线、车货的实时运行位置、人员的安全情况、车辆的运行
            情况以及车厢内的温度进行监控，实时准确的掌握，便于车辆的指挥调度，一旦发生突发事故，迅速做出决策。</p>
    </div>
{% endblock %}

{% block layui-this-introduction %}
    layui-this
{% endblock %}