{% extends 'myapp/base.html' %}

{% block section %}
    <div class="layui-anim layui-anim-downbit">
        <div style="margin-left: 100px;padding-top: 50px">
            <span style="line-height: 40px;font-size: 70px">智能预测</span>
        </div>
        <div style="margin-left: 50px">
            <span style="margin-left: 100px;font-family: bold;line-height: 40px;font-size: 80px">Intelligent prediction</span><br>
        </div>
    </div>
    <div style="width: 400px;margin-left: 1000px" class="layui-anim layui-anim-downbit">
        <p style="font-size: 20px">根据百度地图api预测结合天气预报的晴雨与风力等级进行运输时间预测<br>预测是根据事物以往和现今的历史资料，通过一定的科学方法和逻辑推理，对事物未来发展的趋势作出预计和推测，
            寻求事物的未来发展规律。 预测不仅研究事物的本身，而且还要研究它和环境之间的相互作用、相互影响。
            预测的过程就是在调查研究或科学试验的基础上的分析过程，简称为预测分析。 预测分析所利用的科学方法与手段，统称为预测技术。<br>
        预测不仅关系到一个企业、部门的生存和发展，而且已成为一个国家发展国民经济和科学技术而必须研究的领域，预测成败与否，将直接影响国民经济和科学技术的发展</p>
    </div>
{% endblock %}

{% block layui-this-introduction %}
    layui-this
{% endblock %}